$primary: #ff65a3;

/* theme color */
$--color-primary: $primary;

/* icon font path, required */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

body, html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-basis: 100%;
}

a {
  color: $primary;

  &:hover {
    color: darken($primary, 12%);
  }
}

#app {
  @media all and (min-width: 1024px) {
    padding: 0 50px;
    display: flex;
    flex: 1;
    align-items: center;
  }

  @media all and (max-width: 1024px) {
    padding: 20px;
  }
}

.el-row {
  width: 100%;
}

.flex {
  &-container {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 5px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 30px;
    background: url('../img/grid.jpg');
    background-size: 10px;
  }

  &-element {
    background: $primary;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    color: #ffffff;
    margin: 5px;
  }
}

.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 0;
}

pre {
  background: #172a5b;
  color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}

hr {
  border: none;
  background: #f3f3f3;
  height: 1px;
  border-width: 1px;
}

.sm-mb-20 {
  @media all and (max-width: 1024px) {
    margin-bottom: 20px;
  }
}

.footer {
  text-align: center;

  @media all and (min-width: 1024px) {
    position: fixed;
    bottom: 0;
    height: 40px;
    width: 100%;
    left: 0;
  }
}